.saving-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.saving-item {
  width: 47%;
  background-color: rgb(223, 223, 223);
  padding: 12px;
  border-radius: 12px;
}
.save-active {
  background-color: rgb(18, 81, 55);
  color: white;
}
.saving-text-title {
  font-size: 14px;
  font-weight: 500;
}
.saving-text-desc {
  font-size: 10px;
  font-weight: 500;
  color: rgb(119, 119, 119);
}
.saving-price {
  font-size: 33px;
  font-weight: 500;
}
